{{> navbar}}
<section class="hero is-warning has-text-centered is-fullwidth">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Code Crushers: Admin View
            </h1>
        </div>
    </div>
</section>
<div class="container" id="adminWindow">
    <div class="tile is-parent">
        {{!-- DKB: added color to the tile --}}
        <article class="tile is-child notification has-background-grey-lighter">
            <div class="columns is-mobile" id="content">
                {{!-- DKB: Added the two fiths thing for width and cch2 for height. looks like content isn't a good
                id/class label for bulma --}}
                <div class="column is-two-fifths cch2">
                    <ul>
                        {{#each questions}}
                        <li>
                            <p>
                                {{this.id}}. {{this.question}}
                        <li>{{this.optionA}}</li>
                        <li>{{this.optionB}}</li>
                        <li>{{this.optionC}}</li>
                        <li>{{this.optionD}}</li>
                        <li>Correct Answer: {{this.answer}}</li>

                        <button data-id="{{this.id}}" class="delplan button is-danger is-rounded is-small">Delete
                            Question!</button>
                        {{!-- Temporary <a href="/questions/{{this.id}} /edit"></a> --}}
                        <button data-id="{{this.id}}" class="banana button is-warning is-rounded is-small">Update
                            Question!</button>

                        </p>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="column">
                    <button id="create" class="button is-warning is-rounded is-medium">Create Question!</button>
                    {{!-- if if else statement here, partial appears when btn is clicked --}}

                    {{> createQuestion}}

                    {{> updateQuestion}}
                </div>
            </div>
        </article>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".delplan").on("click", function () {
            const id = $(this).data("id");
            $.ajax({
                method: "DELETE",
                url: `/api/questions/${id}`
            }).then(response => {
                window.location.reload();
            })
        });
        $("#create").on("click", function () {
            $("#createQuestion").removeClass("is-hidden");
            $("#updateQuestion").addClass("is-hidden");
        });
        $(".banana").on("click", function () {
            const data = $(this).data("id");
            $("#createQuestion").addClass("is-hidden");
            $("#updateQuestion").removeClass("is-hidden");
            $("#updateQuestion").attr("data-id", data)
            const queryURL = "questions/" + data + "/edit"
            console.log(queryURL);
            $.ajax({
                url: queryURL,
                method: "GET",
            }).then(function (results) {
                console.log(results);
                $("#editQuestion").attr("value", results.question);
                $("#updateOptionA").attr("value", results.optionA);
                $("#updateOptionB").attr("value", results.optionB);
                $("#updateOptionC").attr("value", results.optionC);
                $("#updateOptionD").attr("value", results.optionD);
                $("#updateAnswer").attr("value", results.answer);
            })
        });
    });
</script>